#rainforest-foundation-map-widget-root .legend {
  background-color: #fff;
  border-radius: 0px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

#rainforest-foundation-map-widget-root .legend h4 {
  margin: 0 0 10px;
}

#rainforest-foundation-map-widget-root .legend div span {
  border-radius: 0%;
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 30px;
}

#rainforest-foundation-map-widget-root .threats {
  background-color: #f33939;
}

#rainforest-foundation-map-widget-root .indigenas-lands {
  background-color: #91d219;
}

#rainforest-foundation-map-widget-root .protected-areas {
  background-color: #f835f4;
}
