#map-widget-root .sidebar {
  height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  position: relative;
  padding-bottom: 9rem;
}

#map-widget-root .title {
  padding: 0 1rem;
  color: #d0374d;
}

#map-widget-root .sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#map-widget-root .organization__item {
  padding: 1rem;
  border-top: 1px solid #ddd;
  margin: 0;
}

#map-widget-root .organization__item:hover,
#map-widget-root .organization__item:focus {
  cursor: pointer;
  background-color: #eceff3;
}

#map-widget-root .organization__title {
  margin: 0;
  word-break: break-word;
}

#map-widget-root .organization__desc {
  margin: 0.5rem 0 0;
  font-size: 14px;
}
