#rainforest-foundation-map-widget-root .sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

#rainforest-foundation-map-widget-root .sidebar ul {
  list-style-type: none;
}
