#rainforest-foundation-map-widget-root .time-slider {
  padding: 1.5rem 1rem 2rem;
  position: fixed;
  width: 50%;
  max-width: 400px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#rainforest-foundation-map-widget-root .time-slider__title {
  margin: 0 0 0.5rem;
  font-size: 14px;
  text-transform: uppercase;
  color: #787e85;
}

#rainforest-foundation-map-widget-root select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-color: transparent;
  background-image: url("./icon_chevron.svg");
  background-repeat: no-repeat;
  background-size: 15px auto;
  background-position: right 5px center;
  font-family: inherit;
  font-size: 16px;
  padding: 0.5rem;
  padding-right: 28px;
  margin-right: 1rem;
  text-indent: 0.01px;
  text-overflow: "";
  cursor: pointer;
}

#rainforest-foundation-map-widget-root select:focus {
  outline: none;
  border: 1px solid #6c85ee;
}
select::-ms-expand {
  display: none;
}

#rainforest-foundation-map-widget-root .month-slider {
  margin-top: 1rem;
  display: inline-block;
}

#rainforest-foundation-map-widget-root .month-slider__input {
  margin: 0 1rem 1rem 0;
}
