#rainforest-foundation-map-widget-root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 100vh;
}

#rainforest-foundation-map-widget-root .App {
  display: flex;
  flex-direction: row;
}
